body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #1e1f29, #12123a);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.container{
    display: flex;
    
    width: 80%;
    max-width: 1000px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(red, green, blue, 4);
}

.image-side{
    flex: 1;
    order: 2;
}

.image-side img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.login-side{
    flex: 1;
    background: rgba(48, 123, 235, 0.2);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-box{
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.login-box h2{
    margin-bottom: 25px;
    font-size: 1.8em;
    color: #e4e4e4;
}

.login-box input{
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: rgba(37, 204, 255, 0.2);
    color: #fff;
    outline: none;
    font-size: 1em;
    text-align: right;
}

.login-box input::placeholder{
    color: #ccc;
}

.login-box input:focus{
    background: rgba(37, 204, 255, 0.5);
}

.login-box button{
    width: 100%;
    margin-right: 3%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #cba2ea, #3f3381);
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover{
    transform: scale(1.05);
    background: linear-gradient(135deg, #7a7eff, #a67eff);
}

@media (max-width: 768px){
.container{
    flex-direction: column;
    height: auto;
}
.image-side{
    order: 1;
    height: 200px;
}

.login-box{
    margin: 30px 0;
}
}

#error{
    margin: 10px;
    color: red;
    font-size: 0.9em;
    min-height: 20px; /*برای ثابت موندن خطا*/
}